.body-container {
  width: 1200px;
}

h1 {
  color: #333;
}

#shopping-cart h2 {
  border-bottom: 1px solid #333;
}

.pet-group {
  clear: both;
  overflow: hidden;
}

.pet-group h2 {
  color: #333;
}

.pet {
  float: left;
  width: 150px;
  padding: 20px;
}

.pet .image-container {
  height: 100px;
}
.pet .image-container img {
  vertical-align: middle;
}

.pet .pet-text {
  height: 75px;
}