.body-container {
  width: 800px;
}

h1 {
  color: #333;
}

#shopping-cart h2 {
  border-bottom: 1px solid #333;
}

.pet-group {
  clear: both;
  overflow: hidden;
}

.pet-group h2 {
  color: #333;
}

.pet {
  float: left;
  padding: 5px;
}

.pet .image-container {
  height: 100px;
}
.pet img {
  vertical-align: middle;
}